Droid/Web References/colonywebservices.azurewebsites.net/ColonyWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:tns="http://colonywebservices.azurewebsites.net/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://colonywebservices.azurewebsites.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://colonywebservices.azurewebsites.net/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasUserWithoutId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasUserWithoutIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HasUserWithoutIdResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasUserById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasUserByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HasUserByIdResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchUserData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchUserDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchUserDataResult" type="tns:InfomationOfUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InfomationOfUser">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="NickName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MailAddress" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsLogicalDelete" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="GroupID01" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupName01" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="oldNickName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newNickName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldMailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newMailAddress" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModifyUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="number" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nickName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateGroupResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="number" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="oldGroupName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newGroupName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nickName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModifyGroupResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailAddress" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mode" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="whatAttribute" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="whenAttribute" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="whyAttribute" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="whoAttribute" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="whereAttribute" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="whomAttribute" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="howAttribute" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="howMuchAttribute" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="howManyAttribute" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateDataResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTargetDataGeneral">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="condition" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTargetDataGeneralResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTargetDataGeneralResult" type="tns:ArrayOfTargetData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTargetData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TargetData" nillable="true" type="tns:TargetData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TargetData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserInfo" type="tns:InfomationOfUser" />
          <s:element minOccurs="1" maxOccurs="1" name="TargetDataId" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="Mode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Tags" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OccurrenceDataTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="WhatAttribute" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WhenAttribute" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="WhyAttribute" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WhoAttribute" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="WhereAttribute" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WhomAttribute" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HowAttribute" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HowMuchAttribute" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="HowManyAttribute" nillable="true" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchTargetDataDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="whatAttribute" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="occurrenceDateTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="whenAttribute" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="whyAttribute" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="whoAttribute" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="whereAttribute" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="whomAttribute" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="howAttribute" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="howMuchAttribute" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="howManyAttribute" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTargetDataDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTargetDataDetailResult" type="tns:ArrayOfTargetData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTargetDataById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailAddress" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="targetDataId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTargetDataByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchTargetDataByIdResult" type="tns:ArrayOfTargetData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="whatAttribute" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="occurrenceDateTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="whenAttribute" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="whyAttribute" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="whoAttribute" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="whereAttribute" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="whomAttribute" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="howAttribute" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="howMuchAttribute" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="howManyAttribute" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="targetDataId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="isLogicalDelete" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModifyDataResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="HasUserWithoutIdSoapIn">
    <wsdl:part name="parameters" element="tns:HasUserWithoutId" />
  </wsdl:message>
  <wsdl:message name="HasUserWithoutIdSoapOut">
    <wsdl:part name="parameters" element="tns:HasUserWithoutIdResponse" />
  </wsdl:message>
  <wsdl:message name="HasUserByIdSoapIn">
    <wsdl:part name="parameters" element="tns:HasUserById" />
  </wsdl:message>
  <wsdl:message name="HasUserByIdSoapOut">
    <wsdl:part name="parameters" element="tns:HasUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="SearchUserDataSoapIn">
    <wsdl:part name="parameters" element="tns:SearchUserData" />
  </wsdl:message>
  <wsdl:message name="SearchUserDataSoapOut">
    <wsdl:part name="parameters" element="tns:SearchUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapIn">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapOut">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyUserSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyUser" />
  </wsdl:message>
  <wsdl:message name="ModifyUserSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyUserResponse" />
  </wsdl:message>
  <wsdl:message name="CreateGroupSoapIn">
    <wsdl:part name="parameters" element="tns:CreateGroup" />
  </wsdl:message>
  <wsdl:message name="CreateGroupSoapOut">
    <wsdl:part name="parameters" element="tns:CreateGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyGroupSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyGroup" />
  </wsdl:message>
  <wsdl:message name="ModifyGroupSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyGroupResponse" />
  </wsdl:message>
  <wsdl:message name="CreateDataSoapIn">
    <wsdl:part name="parameters" element="tns:CreateData" />
  </wsdl:message>
  <wsdl:message name="CreateDataSoapOut">
    <wsdl:part name="parameters" element="tns:CreateDataResponse" />
  </wsdl:message>
  <wsdl:message name="SearchTargetDataGeneralSoapIn">
    <wsdl:part name="parameters" element="tns:SearchTargetDataGeneral" />
  </wsdl:message>
  <wsdl:message name="SearchTargetDataGeneralSoapOut">
    <wsdl:part name="parameters" element="tns:SearchTargetDataGeneralResponse" />
  </wsdl:message>
  <wsdl:message name="SearchTargetDataDetailSoapIn">
    <wsdl:part name="parameters" element="tns:SearchTargetDataDetail" />
  </wsdl:message>
  <wsdl:message name="SearchTargetDataDetailSoapOut">
    <wsdl:part name="parameters" element="tns:SearchTargetDataDetailResponse" />
  </wsdl:message>
  <wsdl:message name="SearchTargetDataByIdSoapIn">
    <wsdl:part name="parameters" element="tns:SearchTargetDataById" />
  </wsdl:message>
  <wsdl:message name="SearchTargetDataByIdSoapOut">
    <wsdl:part name="parameters" element="tns:SearchTargetDataByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyDataSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyData" />
  </wsdl:message>
  <wsdl:message name="ModifyDataSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ColonyWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HasUserWithoutId">
      <wsdl:input message="tns:HasUserWithoutIdSoapIn" />
      <wsdl:output message="tns:HasUserWithoutIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HasUserById">
      <wsdl:input message="tns:HasUserByIdSoapIn" />
      <wsdl:output message="tns:HasUserByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchUserData">
      <wsdl:input message="tns:SearchUserDataSoapIn" />
      <wsdl:output message="tns:SearchUserDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input message="tns:CreateUserSoapIn" />
      <wsdl:output message="tns:CreateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyUser">
      <wsdl:input message="tns:ModifyUserSoapIn" />
      <wsdl:output message="tns:ModifyUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <wsdl:input message="tns:CreateGroupSoapIn" />
      <wsdl:output message="tns:CreateGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyGroup">
      <wsdl:input message="tns:ModifyGroupSoapIn" />
      <wsdl:output message="tns:ModifyGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateData">
      <wsdl:input message="tns:CreateDataSoapIn" />
      <wsdl:output message="tns:CreateDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTargetDataGeneral">
      <wsdl:input message="tns:SearchTargetDataGeneralSoapIn" />
      <wsdl:output message="tns:SearchTargetDataGeneralSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTargetDataDetail">
      <wsdl:input message="tns:SearchTargetDataDetailSoapIn" />
      <wsdl:output message="tns:SearchTargetDataDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTargetDataById">
      <wsdl:input message="tns:SearchTargetDataByIdSoapIn" />
      <wsdl:output message="tns:SearchTargetDataByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyData">
      <wsdl:input message="tns:ModifyDataSoapIn" />
      <wsdl:output message="tns:ModifyDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ColonyWebServiceSoap" type="tns:ColonyWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://colonywebservices.azurewebsites.net/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasUserWithoutId">
      <soap:operation soapAction="http://colonywebservices.azurewebsites.net/HasUserWithoutId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasUserById">
      <soap:operation soapAction="http://colonywebservices.azurewebsites.net/HasUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUserData">
      <soap:operation soapAction="http://colonywebservices.azurewebsites.net/SearchUserData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://colonywebservices.azurewebsites.net/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyUser">
      <soap:operation soapAction="http://colonywebservices.azurewebsites.net/ModifyUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <soap:operation soapAction="http://colonywebservices.azurewebsites.net/CreateGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyGroup">
      <soap:operation soapAction="http://colonywebservices.azurewebsites.net/ModifyGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateData">
      <soap:operation soapAction="http://colonywebservices.azurewebsites.net/CreateData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTargetDataGeneral">
      <soap:operation soapAction="http://colonywebservices.azurewebsites.net/SearchTargetDataGeneral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTargetDataDetail">
      <soap:operation soapAction="http://colonywebservices.azurewebsites.net/SearchTargetDataDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTargetDataById">
      <soap:operation soapAction="http://colonywebservices.azurewebsites.net/SearchTargetDataById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyData">
      <soap:operation soapAction="http://colonywebservices.azurewebsites.net/ModifyData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ColonyWebServiceSoap12" type="tns:ColonyWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://colonywebservices.azurewebsites.net/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasUserWithoutId">
      <soap12:operation soapAction="http://colonywebservices.azurewebsites.net/HasUserWithoutId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasUserById">
      <soap12:operation soapAction="http://colonywebservices.azurewebsites.net/HasUserById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUserData">
      <soap12:operation soapAction="http://colonywebservices.azurewebsites.net/SearchUserData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap12:operation soapAction="http://colonywebservices.azurewebsites.net/CreateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyUser">
      <soap12:operation soapAction="http://colonywebservices.azurewebsites.net/ModifyUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <soap12:operation soapAction="http://colonywebservices.azurewebsites.net/CreateGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyGroup">
      <soap12:operation soapAction="http://colonywebservices.azurewebsites.net/ModifyGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateData">
      <soap12:operation soapAction="http://colonywebservices.azurewebsites.net/CreateData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTargetDataGeneral">
      <soap12:operation soapAction="http://colonywebservices.azurewebsites.net/SearchTargetDataGeneral" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTargetDataDetail">
      <soap12:operation soapAction="http://colonywebservices.azurewebsites.net/SearchTargetDataDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTargetDataById">
      <soap12:operation soapAction="http://colonywebservices.azurewebsites.net/SearchTargetDataById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyData">
      <soap12:operation soapAction="http://colonywebservices.azurewebsites.net/ModifyData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ColonyWebService">
    <wsdl:port name="ColonyWebServiceSoap" binding="tns:ColonyWebServiceSoap">
      <soap:address location="http://colonywebservices.azurewebsites.net/ColonyWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ColonyWebServiceSoap12" binding="tns:ColonyWebServiceSoap12">
      <soap12:address location="http://colonywebservices.azurewebsites.net/ColonyWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>